<div class="col-10 offset-1">
    <h1>This is an about page!</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/quesoisgood">quesoisgood</a> Just a dude learning to code!.
  </p>
  <br />
  <p>
    So yeah it's a basic website, but I'm still learning. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'kirby.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">quesoisgood</h2>
      <br />
      <p>
        quesoisgood is a new web developer. Join me on my quest.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />